* {
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

body {
  margin: auto;
  padding: 25px;
  font-size: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  border-bottom: 1px solid gray;
  color: #333;
  margin: 20px 0;
}

#error {
  padding: 10px;
  color: red;
  background-color: #fcc;
}

.rule {
  background-color: #dfdfdf;
  margin: 3px 0;
  padding: 5px;
}
.rule:hover {
  background-color: #d0d0d0;
}

.rule a {
  background-color: #fcc;
  color: red;
  margin-right: 15px;
  padding: 3px;
  text-decoration: none;
  font-size: 13px;
  border: 1px solid red;
}
.rule a:hover {
  background-color: #faa;
  color: #f33;
}

.rule strong {
  font-family: Courier New;
  font-weight: bold;
  font-size: 14px;
}
.rule small {
  color: gray;
}

.action-box {
  background-color: #cfc;
  padding: 10px;
}

.action-box input, .action-box select {
  border: 1px solid green;
  padding: 4px;
  margin: 5px;
}
.action-box input {
  width: 350px;
}
.action-box input[type=submit] {
  width: 150px;
  background-color: #afa;
}
.action-box input[type=submit]:hover {
  background-color: #6f6;
}

.https {
  color: red;
}
.http {
  color: green;
}

